# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment folders
env/
venv/
myenv/
.venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Streamlit cache
.streamlit/
